:root {
    --primary-color: blue;
  --secondary-color: rgb(173, 19, 204);
  --accent1-color: black;
  --accent2-color: #979797; 
  --heading-font: "Times New Roman";
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h2, h1{
    color:var(--primary-color)
}
p{
    color:var(--secondary-color)
}

.kaushan-script-regular {
  font-family: "Kaushan Script", cursive;
  font-weight: 400;
  font-style: normal;
}
body {
  font-family: "Kaushan Script", cursive;
}