:root {
    --primary-color: blue;
  --secondary-color: rgb(173, 19, 204);
  --accent1-color: black;
  --accent2-color: #979797; 
  --heading-font: "Times New Roman";
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h2, h1{
    color:var(--primary-color);
    font-size: 300%;
}
p{
    color:var(--secondary-color)
}

.kaushan-script-regular {
  font-family: "Kaushan Script", cursive;
  font-weight: 400;
  font-style: normal;
}
body {
  font-family: "Kaushan Script", cursive;
  background-color: white;

}
header{
  text-align: center;
  background-color: rgba(189, 189, 189, 0.753);
}
.form-items{
  padding: 1rem;
}
fieldset{
  margin: 1rem 0;
  border: 1px solid black;
  padding: 1rem 0;
  margin-left: auto;
  margin-right: auto;
}
form{
  background-color: var(--accent2-color);
  border: 1px solid black;
  border-radius: 3px;
  padding: 1rem;
  margin: 1rem auto;
  max-width: 28rem;
}
input[type=radio]{
  font-size: 1rem;
  width:10%;
  padding: 1rem;
}



footer{
    text-align: center;
    background-color: rgba(189, 189, 189, 0.753);;
}
@media (max-width: 768px) {
  form{
    max-width: 80%;
    padding: 1rem;
  }
  input[type=radio]{
  font-size: 1rem;
  width:10%;
  padding: 1rem;
  }
  fieldset {
  padding: 0.5rem;
  }
}