:root {
    --primary-color: blue;
  --secondary-color: rgb(144, 206, 144);
  --accent1-color: black;
  --accent2-color: #979797; 
  --heading-font: "Times New Roman";
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Barriecito", system-ui;
  font-weight: 400;
  font-style: normal;
}
header{
    font-weight: 100;
    background-color:var(--accent2-color) ;
}
header span {
    display:block;
    text-align: center;
    padding: 0;
    text-decoration: none;
    font-size: xx-large;
}
nav {
    display:flex;
    justify-content: space-around;
    background-color: var(--secondary-color);
}
nav a:hover {
    border: 1px solid black;
    text-decoration: overline;

}
main{
    text-align: center;
    min-width: 10px;

}
main h1{
        font-size: 59px;

}
.grid{
    display: grid;
    max-width: 100%;
    grid-template-columns: 1fr 1fr;
    
}
.card{
    padding: 3rem;
    border: 3px solid black;
    margin: 3rem;

}
.card h2{
    background-color: var(--accent2-color);
}
.card p{
    grid-column-start: 1;
    grid-row-start:2;
    justify-self:center;
    text-align: left;
    font-size: 2rem;

}
.card h3{
    font-size: 2.5rem;
    border-bottom:1px solid black;
}
.card img{
    max-width: 350px;
justify-self:end;
    grid-column-start: 2;
    grid-row-start:2;

}
footer{
    text-align: center;
    background-color: var(--accent2-color);
}