:root {
    --primary-color: blue;
  --secondary-color: rgb(144, 206, 144);
  --accent1-color: black;
  --accent2-color: #979797; 
  --heading-font: "Times New Roman";
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header{
    font-weight: 100;
    background-color:var(--accent2-color) ;
    font-size: 350%;
}
header span {
    display:block;
    text-align: center;
    padding: 0;
    text-decoration: none;
    font-size: xx-large;
}
nav ul{
    display:flex;
    justify-content: space-around;
    background-color: var(--secondary-color);
 
}
nav a:hover {
    border: 1px solid black;
    text-decoration: overline;

}
main{
    text-align: center;
    min-width: 10px;

}
.roboto{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:"wdth" 100;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
#burger{
  display: none;
  font-size:300%;

}
@media (max-width: 768px) {
  #burger {
    display: block;
  }
    nav ul {
    display: none;
    flex-direction: column;
    text-align: center;
  }

  nav ul.active {
    display: flex;
  }
}
.grid img {
  width: 70%;
  height: auto;
}
footer{
    text-align: center;
    background-color: var(--accent2-color);
}
figcaption{
  font-size: 300%;
}
